django==1.10.4
django-cors-headers==2.0.1
django-filter==0.13.0
djangorestframework==3.5.3
psycopg2==2.6.2
python-dateutil==2.5.1
django-rest-swagger==0.3.8
django-rest-framework-docs==0.1.7
requests==2.13.0
apscheduler==3.3.1
teradata==15.10.0.21
sqlalchemy-teradata==0.0.9.dev0
impyla==0.14.0
thrift_sasl==0.2.1
thriftpy==0.3.9
six==1.10.0
statsd
drf-tracking==1.2.0